@model ProjetoEstoque.Models.CompraVenda

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CompraVenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ValorFornecedor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorFornecedor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValorCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValorCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeComprada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeComprada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeVendida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeVendida)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NomeProdutoC }) |
    @Html.ActionLink("Back to List", "Index")
</p>
